* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}
/*Common (dùng chung cho cả trang)*/

.clear {
  clear: both;
}
.text-white {
  color: #fff !important;
}
.text-center {
  text-align: center !important;
}

.row {
  margin-left: -8px;
  margin-right: -8px;
}

.row::after {
  content: "";
  display: block;
  clear: both;
}

.col {
  float: left;
  padding-left: 8px;
  padding-right: 8px;
}

.col-full {
  width: 100%;
}

.col-2 {
  width: 50%;
}

.col-3 {
  width: calc(100% / 3);
}

.mt-8 {
  margin-top: 8px !important;
}

.mt-16 {
  margin-top: 16px !important;
}

.mt-32 {
  margin-top: 32px !important;
}

.btn {
  color: #fff;
  background-color: #000;
  text-decoration: none;
  text-transform: capitalize;
  padding: 11px 16px;
  margin-top: 15px;
  display: inline-block;
  border: none;
  text-align: center;
  appearance: none;
  --webkit-appearance: none;
}

.btn:hover {
  color: #000;
  background-color: #ccc;
  cursor: pointer;
}

.pull-right {
  float: right !important;
}

#main {
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 46px;
  background-color: #000;
  width: 100%;
  z-index: 1;
  /* overflow: hidden; */
}

#nav {
  display: inline-block;
}

#nav,
.subnav {
  list-style: none;
}

#nav li {
  position: relative;
}
#nav > li {
  display: inline-block;
}

#nav > li > a {
  color: #fff;
  text-transform: uppercase;
}
#nav li a {
  text-decoration: none;
  line-height: 46px;
  padding: 0 24px;
}

#nav li:hover .subnav {
  display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a {
  color: #000;
  background-color: #ccc;
  display: inline-block;
  width: 100%;
}

#nav .subnav {
  display: none;
  position: absolute;
  top: 100%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  min-width: 160px;
}

#nav .subnav a {
  color: #000;
  padding: 0 12px;
  line-height: 38px;
}

#nav .nav-arrow-down {
  font-size: 14px;
}

#header .search-btn,
#header .moblie-menu-btn {
  float: right;
  padding: 0 21px;
}
#header .moblie-menu-btn {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

#header .search-btn:hover {
  background-color: #f44336;
  cursor: pointer;
}

#header .moblie-menu-btn:hover {
  background-color: #ccc;
}

#header .moblie-menu-btn:hover .menu-icon {
  background-color: #ccc;
}

#header .menu-icon,
#header .search-icon {
  color: #fff;
  font-size: 20px;
  line-height: 46px;
}

#slider {
  position: relative;
  margin-top: 46px;
  padding-top: 50%;
  background: url(/assets/img/slider/slider1.jpg) top center / cover no-repeat;
}

#slider .text-content {
  position: absolute;
  bottom: 47px;
  color: #fff;
  /* left: 50%;
  transform: translateX(-50%); */
  width: 100%; /*Cách đơn giản nhất đưa item vào giữa. Có thể dùng cách trên*/
}

#slider .text-heading {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 25px;
}

#slider .text-description {
  font-size: 15px;
}

#content {
}

#content .content-section {
  width: 800px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 64px 0 112px;
  padding-left: 16px;
  padding-right: 16px;
}

#content .section-heading {
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#content .section-sub-heading {
  font-size: 15px;
  font-style: italic;
  opacity: 0.5; /*Làm mờ chữ, giá trị từ .1 - 1*/
  margin-top: 25px;
}

#content .about-text {
  margin-top: 25px;
  font-size: 15px;
  text-align: justify;
  line-height: 1.5; /*Nếu là tiếng Việt thì tăng lên */
}

#content .member-list {
  margin-top: 32px;
}

#content .member-name {
  font-size: 15px;
}

#content .member-img {
  margin-top: 15px;
  width: 154px;
  border-radius: 4px;
}

/* Tour Section */
.tour-section {
  background-color: #000;
}

.tickets-list {
  background-color: #fff;
  margin-top: 40px;
}

.tickets-list li {
  color: #757575;
  font-size: 15px;
  padding: 11px 16px;
  border-bottom: 1px solid #ddd;
  list-style: none;
}

.tickets-list .sold-out {
  background-color: #f44336;
  padding: 3px 4px;
  margin-left: 16px;
}

.tickets-list .quantity {
  background-color: #000;
  float: right;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  line-height: 24px;
  margin-top: -3px;
}

/* Places */
.places-list {
  margin-top: 16px;
  margin-bottom: 48px;
}

.place-img {
  width: 100%;
  display: block;
}

.place-img:hover {
  opacity: 0.6;
}

.place-body {
  background-color: #fff;
  padding: 16px;
  font-size: 15px;
}

.place-heading {
  font-size: 15px;
  font-weight: 600;
}

.place-time {
  margin-top: 15px;
  color: #757575;
}

.place-desc {
  margin-top: 15px;
  line-height: 1.4;
}

/* Contact form */
.contact-content {
  margin-top: 48px;
}

.contact-info {
  font-size: 18px;
  line-height: 1.5;
}

.contact-info a {
  color: #00e;
  opacity: 0.8;
}

.contact-info a:hover {
  opacity: 1;
}

/* .contact-info i[class*="ti-"] {
  width: 30px;
} */

.contact-form {
  font-size: 15px;
}

.contact-form .form-control {
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
  outline: none;
}

/*Map Section*/
.map-section img {
  width: 100%;
}

/* Footer */
#footer {
  padding: 64px 16px;
}

#footer .socials-list {
  font-size: 24px;
}

#footer .socials-list a {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
}

#footer .socials-list a:hover,
#footer .copy-right a:hover {
  color: rgba(0, 0, 0, 0.4);
}
#footer .copy-right {
  margin-top: 15px;
}
#footer .copy-right a {
  color: rgba(0, 0, 0, 0.6);
}
